.outcomecard{
    display: flex;
    align-items:stretch;
    flex-direction: column;
    border-radius: 5px ;
    background-color: rgb(255, 255, 255);
    padding: 10px 20px 20px 20px;
    width: 31.5%;
}
.outcomecard .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.outcomecard .top .title{
    font-size: 16px;
    margin-top: 10px;

}
.top .outcome_icon{
    width: 27px;
}

.bottom{
    display: flex;
    justify-content: left;
    font-size: 30px;
}