.outcomecard{
    display: flex;
    align-items:stretch;
    flex-direction: column;
    border-radius: 5px ;
    background-color: rgb(234, 241, 234);
    padding: 5px 10px 10px 10px;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.top .title{
    font-size: 14px;
    margin-right: 150px;
    margin-top: 10px;

}
.top .outcome_icon{
    width: 27px;
}

.bottom{
    display: flex;
    justify-content: left;
    font-size: 30px;
}